{% extends "base.html" %}

{% block content %}
        <div class="row">
            <form class="col s12" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col s12">
                        <p class="flow-text">
                            Paste your URL into the "Original url" input field.
                            {% if user.is_authenticated %}
                                Enter the short code you want to assign to this URL.
                            {% endif %}
                            Click the "Shorten" button.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s9">
                        {{ form.original_url.errors }}
                        {{ form.original_url.label_tag }}
                        {{ form.original_url }}
                    </div>
                    <div class="input-field col s3">
                        <button type="submit" class="btn waves-effect waves-light">Shorten</button>
                    </div>
                </div>
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="input-field col s9">
                        {{ form.short_code.errors }}
                        {{ form.short_code.label_tag }}
                        {{ form.short_code }}
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    {% if errors %}
        <div class="row">
            <div class="card-panel red lighten-4 red-text text-darken-4">
                {{ errors }}
            </div>
        </div>
    {% endif %}
    {% if new_url %}
        <div class="row">
            <div class="card-panel">
                <h4>Your short url: <a href="{{ new_url }}">{{ new_url }}</a></h4>
                <h5>Original url: <a href="{{ original_url }}">{{ original_url }}</a></h5>
            </div>
        </div>
    {% endif %}
{% endblock %}