{% extends "base.html" %}

{% block content %}
        <section>
            <form method="post">
                {% csrf_token %}
                <div>
                    {{ form.original_url }}
                </div>
                <div>
                    <button type="submit">Shorten</button>
                </div>
            </form>
        </section>
    {% if errors %}
        <section>
            {{ errors }}
        </section>
    {% endif %}
    {% if new_url %}
        <section>
            <h2>Your short url: <a href="{{ new_url }}">{{ new_url }}</a></h2>
            <h4>Original url: <a href="{{ original_url }}">{{ original_url }}</a></h4>
        </section>
    {% endif %}
{% endblock %}